@font-face {
    font-family: Gothic-Fat;
    src: url("../fonts/Quicksand/Quicksand-Bold.ttf");
}

@font-face {
    font-family: Gothic-Medium;
    src: url("../fonts/Quicksand/Quicksand-Medium.ttf");
}

@font-face {
    font-family: Gothic-Bold;
    src: url("../fonts/Quicksand/Quicksand-SemiBold.ttf");
}

h3 {
    color: black;
}

#contact-page {
    width: 100%;
}

.contact-heading {
    font-family: Gothic-Fat;
    justify-content: center;
    position: absolute;
    width: 100%;
    color: rgb(0, 100, 0);
}

.contact-banner {
    height: 50vh;
    display: flex;
    align-items: center;
}

.contact-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-info {
    font-family: Gothic-Medium;
}

#contact-page h1 {
    font-family: Gothic-Bold;
}

.contact-form {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 100px;
}

.form-group label {
    font-family: Gothic;
    float: left;
}

.message-heading {
    text-align: center;
}

#send-msg-btn {
    background-color: purple;
    border: none;
    outline: none;
    font-family: Gothic;
}

#send-msg-btn:focus {
    background-color: indigo;
    outline: none;
}

#send-msg-btn:active {
    background-color: indigo !important;
    outline: none;
}

#send-msg-btn:hover {
    background-color: darkviolet;
}

@media (min-width: 1000px) {
    .contact-form {
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 50px;
        margin-bottom: 100px;
    }
}