@font-face {
    font-family: Gothic-Fat;
    src: url("../fonts/Quicksand/Quicksand-Bold.ttf");
}

@font-face {
    font-family: Gothic-Bold;
    src: url("../fonts/Quicksand/Quicksand-SemiBold.ttf");
}

.designs-banner {
    height: 50vh;
    display: flex;
    align-items: center;
}

.designs-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.designs-heading {
    font-family: Gothic-Fat;
    justify-content: center;
    position: absolute;
    width: 100%;
    color: white;
}

.categories {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    height: fit-content;
    border: none;
}

.category-card {
    align-self: center;
    justify-content: center;
    align-items: center;
}

.category-card:hover {
    cursor: pointer;
}

.category-card:hover .overlay-bg {
    display: block;
    transition: ease-in-out 0.5s;
}

.category-card:hover .card-img-overlay {
    display: block;
}

.card-img-overlay {
    font-family: Gothic-Bold;
    display: none;
    font-size: x-large;
    font-weight: bold;
    color: white;
    z-index: 1;
    top: auto;
    bottom: auto;
}

.overlay-bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    transition: ease-in-out 0.3s;
    display: none;
}

.design-container, .event-container {
    width: 75%;
    margin-top: 4rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.card-columns {
    columns: 1;
}

.card-columns .card {
    display: block;
}

span[class$="_footer"] {
    display: none;
}

@media (min-width: 576px) {
    .card-img-overlay {
        font-size: large;
    }
    .card-columns {
        columns: 2;
    }
}

@media (min-width: 768px) {
    .categories {
        width: 60%;
    }
    .card-deck .card {
        flex: 1 0;
    }
}

@media (min-width: 1000px) {
    .card-img-overlay {
        font-size: x-large;
    }
    .card-columns {
        columns: 3;
    }
}

.design-image {
    animation: image-appear .5s ease-in-out;
}

.design-image:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

@keyframes image-appear {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}